<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
    <%- include('../partials/header'); %>

    <main class="text-dark">
        <div class="bg-success p-2 text-dark bg-opacity-50">
            <h1>Sobre Mim</h1>
            <P>Fala pessoal esse é um texto bonito aleatorio: 
                Mais uma noite como todas as anteriores.
                 Pego minha caneca de café cheia, 
                acendo meu ultimo cigarro e corro pra velha janela do quarto. 
                Observo a noite fria e chuvosa, até parece confortável por um momento, 
                se não fossem as dezenas de preocupações que me desmotivam a cada dia.

                Penso em você, mesmo sabendo o quão longe está de mim, 
                sinto aquele amor que continua a me desgraçar intensamente a cada dia, 
                e penso quando enfim poderei te ter comigo. 
                Sei lá, o café chega ao fim e trago a ultima ponta, nada muda. 
                É como se eu fosse passar por isso mais uns longos anos a frente qualquer coisa.</P>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>